.noflight {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
@media (max-width: 1150px) {
  .noflight {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1150px) {
  .layout {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    background-color: #f5f5f5;
  }
}
.layout {
  grid-column: 1/-1;
  grid-row: 3/4;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: #f5f5f5;
}

.noflight h2 {
  justify-self: flex-start;
  align-self: center;
  font-weight: 700;
  margin-left: 0.5rem;
}

.head_icon2 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: flex-end;
}
